<h1 class="text-center top">Paginate 1 Million Numbers</h1>
<br>
<%= form_tag({:action => "index"}, :method => :get ) do %>
	<div class="card border-primary mb-3">
	    <div class="card-header bg-primary text-white">Items to Show</div>
	    <div class="card-body text-primary">
	    <table class="table">
		    <tbody>
		    	<tr>
			    	<td><%= label_tag("num_page","Numbers per Page")%></td>
			    	<td><%= number_field_tag("numbers_per_page", @numbers_per_page ? @numbers_per_page : 1000, in: 1..1000000, step: 1) %>
			        </td>
		        </tr>
		        <tr>
		            <td><%= label_tag("page","Page no")%></td>
		            <td><%= number_field_tag("page", @page ? @page : 1, min: 1, step: 1) %></td>
		        </tr>	
				<tr>
		        <td ><%= "Last Page is page no:  "%><%= @last_page %></td>
		        <td></td>
		    </tbody>
	    </table>
	    </div>
	    <div> 
	    	
	    </div>
		<div class="card-footer"><span class="group-btn"> 
		   <%= button_tag "Show", :class => "btn btn-primary btn-md" %>   
		    </span>
	    </div>
    </div>
    <br>
	<div class="card border-danger mb-3">
	    <div class="card-header bg-danger text-white">Numbers in Words</div>
	    <div class="card-body">
	    <table class="table table-striped">
		    <tbody>
			    <% @numbers.each do |x| %>
			       <tr>
			        	<td><%= number_with_delimiter(x[0], :delimiter => ',') %></td>
			      	    <td><%= x[1].capitalize %></td>
			        </tr>
			    <% end %>
		    </tbody>
	    </table>
	  </div>
	</div>
<% end %>